@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}
body{
    background-color:   black;
    box-sizing: border-box;   
}
.presentacion {
    display: flex;
    align-items: center;
    margin: 5%  20%;
    justify-content: space-between;
}
.presentacion_Contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.texto-destacado {
    color: bisque;
    border: 2px solid red;
    padding: 5px;
}
.presentacion_Contenido_titulo-blog{
    color: red;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.presentacion_Contenido_titulo-blog_destacado{
    color: aqua;
}
.presentacion_Contenido_texto {
    font-size: 24px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.presentacion_Contenido_linkeadores {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion_Contenido_linkeadores_titulo{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    color: #F6F6F6;
    font-weight: 400;
}
.presentacion_Contenido_linkeadores__botones{
    width: 378px;
    border: 2px solid #22D4FD;
    color: #F6F6F6;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion_Contenido_linkeadores__botones:hover  {
    background-color: #272727;
    color: #22D4FD;
    width: 400px;
    cursor: pointer;
}
.footer {
    color: #272727;
    display: flex;
    justify-content: center;
    background-color: #22D4FD;
    padding: 24px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
